<!--TODO-->
<p>Input</p>
<ul>
    <li>{{result.quantity}}</li>
    <li>{{result.from}}</li>
    <li>{{result.to}}</li>
</ul>
<p>Result</p>
<ol>
    {{#each result.list}}
        <li>{{this}}</li>
    {{/each}}
</ol>
